stages:
  - build
  - release

variables:
  GIT_DEPTH: 0

build-windows:
  stage: build
  tags:
    - windows
    - shared-windows
  script:
    - call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
    - qmake OpenRGB3DSpatialPlugin.pro CONFIG+=release
    - nmake
  artifacts:
    paths:
      - release/OpenRGB3DSpatialPlugin.dll
    expire_in: 30 days
  only:
    - master
    - tags
    - merge_requests

build-linux:
  stage: build
  image: ubuntu:22.04
  before_script:
    - apt-get update -qq
    - apt-get install -y -qq qtbase5-dev qt5-qmake qtbase5-dev-tools libusb-1.0-0-dev libhidapi-dev build-essential
  script:
    - qmake OpenRGB3DSpatialPlugin.pro PREFIX=/usr
    - make -j$(nproc)
  artifacts:
    paths:
      - libOpenRGB3DSpatialPlugin.so
    expire_in: 30 days
  only:
    - master
    - tags
    - merge_requests

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: build-windows
      artifacts: true
    - job: build-linux
      artifacts: true
  script:
    - echo "Creating GitLab release for $CI_COMMIT_TAG"
  release:
    tag_name: $CI_COMMIT_TAG
    name: $CI_COMMIT_TAG
    description: "Release $CI_COMMIT_TAG"
  only:
    - tags
